body, html {
  position: relative;
  height: 100%;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../images/nasa.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100px;
  background: #4e5d6c;
}

.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #1b3146;
  color: white;
}

.navbar {
  padding: 5px;
  margin: 0;
}

.hero h1 {
  margin-top: 20px;
  font-size: 10rem;
  animation: title 1.2s forwards linear;
  color: rgb(100, 170, 220);
}

.hero p {
  font-size: 2rem;
  opacity: 0;
  padding-bottom: 50px;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
  color: rgb(100, 170, 220);
}

tbody {overflow-y: auto;}

.filters .panel-body {
  padding: 10px;
  margin: 0;
  background-color: aliceblue;
}

.btn {
  border: 1px solid;
  margin: 5px;
}

 /* Small devices (up to 768px) */
@media (max-width: 767.98px) {
  .navbar-brand, label, input, .btn {font-size: 2rem;}
  #ufoImg { height: 3rem; width: auto;}
  .table th {font-size: 2rem; width: 100%;}
  .table {font-size: 1.6rem; width: 100%;}
}

/* Medium devices (768-992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-brand, label, input, .btn {font-size: 1.5rem;}
  #ufoImg { height: 2.5rem; width: auto;}
  .table th {font-size: 1.5rem; width: 100%;}
  .table {font-size: 1.25rem; width: 100%;}
}

/* Large devices (992 and above) */
@media (min-width: 992px) {
  .navbar-brand, label, input, .btn {font-size: 1rem;}
  #ufoImg { height: 2rem; width: auto;}
  .table th {font-size: 1rem; width: 100%;}
  .table {font-size: 0.75rem; width: 100%;}
}

/* keyframe animations - animate the title */
@keyframes title {
  from {opacity: 0;}
  to {font-size: 5rem; opacity: 1;}
}
@keyframes subtitle {
  from {opacity: 0;}
  to {opacity: 1;}
}